<footer class="footer" id="contact">
    <div class="section__container footer__container">
      <div class="footer__col">
        <img
          src="ROOT_PATH/assets/logo/logo.webp"
          alt="Best Indian restaurant in Okotoks, AB"
          class="footer__logo__img"
        />
  
        <p class="section__description">
          Authentic culinary delights delivered to your doorstep.
        </p>
      </div>
      <div class="footer__col">
        <h4>Address</h4>
        <ul class="footer__links">
          <li><a>Dine In, Take-out, and Catering</a></li>
          <li>
            <a href="https://maps.app.goo.gl/JsTmaQcbYhdEuwTN7"
              >100 Stockton Ave, Okotoks, AB T1S 0A1</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Opening Hours</h4>
        <ul class="footer__links">
          <li>Monday: Closed</li>
          <li>Tuesday: 11:30 am – 9 pm</li>
          <li>Wednesday: 11:30 am – 9 pm</li>
          <li>Thursday: 11:30 am – 9 pm</li>
          <li>Friday: 11:30 am – 10 pm</li>
          <li>Saturday: 10 am – 10 pm</li>
          <li>Sunday: 10 am – 9 pm</li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Contact Us</h4>
        <ul class="footer__links">
          <li>
            <a href="tel:15879717411">+1 587-971-7411</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__policy">
      <a href="ROOT_PATH/terms-of-use.html">Terms of Use</a>
      <a href="ROOT_PATH/privacy-policy.html">Privacy Policy</a>
    </div>
    <div class="footer__bar">
      Copyright ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      Hakka Kitchen Okotoks - All Rights Reserved.
    </div>
    <div class="footer__company">
      <a href="https://www.iorders.ca/">Powered by <span>iOrders.ca</span></a>
    </div>
  </footer>