<footer class="footer" id="contact">
    <div class="section__container footer__container">
      <div class="footer__col">
        <img
          src="ROOT_PATH/assets/logo/logo.webp"
          alt="Best Indian restaurant in St. Albert, AB"
          class="footer__logo__img"
        />
  
        <p class="section__description">
          Authentic culinary delights delivered to your doorstep.
        </p>
      </div>
      <div class="footer__col">
        <h4>Address</h4>
        <ul class="footer__links">
          <li><a>Dine In, Take-out, and Delivery</a></li>
          <li>
            <a href="https://maps.app.goo.gl/8qpcJeDsMBREkVF4A"
              >1115 St Albert Trl #360, St. Albert, AB T8N 7X6, Canada</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Opening Hours</h4>
        <ul class="footer__links">
          <li>Monday: 11:30 am –9 pm</li>
          <li>Tuesday: 11:30 am –9 pm</li>
          <li>Wednesday: 11:30 am –9 pm</li>
          <li>Thursday: 11:30 am –9 pm</li>
          <li>Friday: 11:30 am –9 pm</li>
          <li>Saturday: 12 pm – 9 pm</li>
          <li>Sunday:12 pm – 9 pm</li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Contact Us</h4>
        <ul class="footer__links">
          <li>
            <a href="tel:17804594808">+1 (780) 459-4808</a>
          </li>
          <div class="social-icons-wrapper">
            <li class="social-icons">
              <a
                href="https://www.facebook.com/Tandoorifuzioncanada/"
                target="_blank"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li class="social-icons">
              <a
                href="https://www.instagram.com/tandoori.fuzion/"
                target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="footer__policy">
      <a href="ROOT_PATH/terms-of-use.html">Terms of Use</a>
      <a href="ROOT_PATH/privacy-policy.html">Privacy Policy</a>
    </div>
    <div class="footer__bar">
      Copyright ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      Tandoori Fuzion St. Albert - All Rights Reserved.
    </div>
    <div class="footer__company">
      <a href="https://www.iorders.ca/">Powered by <span>iOrders.ca</span></a>
    </div>
  </footer>