<header class="nav__container">
    <nav id="nav__anchor">
      <div class="nav__header">
        <div class="logo nav__logo">
          <a href="ROOT_PATH/index.html" class="logo__wrapper">
            <img
              src="ROOT_PATH/assets/logo/logo.webp"
              alt="Hakka Kitchen Okotoks Logo - Authentic Indian Restaurant"
              class="logo__image"
              width="150"
              height="60"
            />
          </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <span><i class="ri-menu-line"></i></span>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="ROOT_PATH/index.html" class="nav-index">Home</a></li>
        <li><a href="ROOT_PATH/menu.html" class="nav-menu">Menu</a></li>
        <li><a href="ROOT_PATH/about.html" class="nav-about">About</a></li>
        <li><a href="ROOT_PATH/our-food.html" class="nav-our-food">Our Food</a></li>
        <li><a href="ROOT_PATH/contact-us.html" class="nav-contact-us">Contact Us</a></li>
        <li class="nav__btn-mobile">
          <a
            href="https://orders.iorders.online/hakka-kitchen-okotoks-5205"
            class="btn"
            target="_blank"
            onclick="fbq('track', 'Lead');"
            >Order Now</a
          >
        </li>
      </ul>
      <div class="nav__btn">
        <a
          href="https://orders.iorders.online/hakka-kitchen-okotoks-5205"
          class="btn"
          target="_blank"
          onclick="fbq('track', 'Lead');"
          >Order Now</a
        >
      </div>
    </nav>
  </header>